<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nbapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="com.example.map3dtest.base.BaseApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="e36616c56ee291bd99db7b49f579ef7a" />

        <activity
            android:name="com.example.map3dtest.login.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.map3dtest.main.MapProjectActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

        <activity
            android:name="com.example.map3dtest.main.MapDeviceActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.map3dtest.main.DeviceMaintainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.map3dtest.main.AccountManageActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.map3dtest.MainActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.map3dtest.tables.LocationSelectActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.example.map3dtest.tables.DeviceTypeSelectActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.DEVICE_FIND_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.map3dtest.tables.ProjectListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.map3dtest.search.SearchPageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.example.map3dtest.tables.DeviceSheetActivity"
            android:noHistory="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.DEVICE_DETAILS_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.map3dtest.charts.ChartActivitySec"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.DEVICE_STATISTIC_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.map3dtest.main.SmoothMoveActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.DEVICE_TRACK_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.map3dtest.tables.ProjectSheetActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.PROJECT_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.map3dtest.tables.ProjectDetailActivity">
            <intent-filter>
                <action android:name="com.example.nbiot_5.ACTION_START" />

                <category android:name="com.example.nbiot_5.PROJECT_DETAIL_CATEGORY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.map3dtest.functest.FuncActivitySec" />
        <activity android:name="com.example.map3dtest.functest.FuncActivityTrd" />
        <activity android:name="com.example.map3dtest.search.ProDevSelectActivity"></activity>
        <activity android:name="com.example.map3dtest.search.AddressSelect">

        </activity>
    </application>

</manifest>